h1 {
  text-align: center;
  color: red;
}

h2 {
  text-align: center;
}

.buttons {
  margin-top: 15%;
  margin-left: 20%;
  margin-right: 60%;
  background-color: grey;
  border-style: solid;
  border-radius: 10px;
}

ul {
  align-items: center;
  text-align: center;
}

ion-icon {
  font-size: 64px;
  display: block;
  margin: 0;
}

.red-border {
  border-color: red;
  border-style: solid;
  border-width: 10px;
  border-radius: 50%;
}
